<!DOCTYPE html>
<html lang="es">
<head>
    
    <%- include("partials/head") %>

</head>
<body>
    
    <header id="top">

        <%- include("partials/header") %>

    </header>

    <main>

        <%- include("partials/formularioContacto") %>

    </main>

    <footer>

        <%- include("partials/footer") %>

    </footer>

</body>
</html>