<!DOCTYPE html>
<html lang="es">
<head>
    
    <%- include("partials/head") %>

</head>
<body>
    
    <header id="top">

        <%- include("partials/header") %>

    </header>

    <main>

        <section id="login">

            <%- include("partials/formularioLogin") %>

        </section>

    </main>

    <footer>

        <%- include("partials/footer") %>

    </footer>

</body>
</html>