<div>
    <h1>¡Bienvenido a CineArchivo!</h1>
    <h4>Comparte y visualiza copias de películas</h4>
    <p>Inicia sesión para administra tu colección:</p>
    <div class="button_slide slide_right"><a href="/login">Login</a></div>
</div>