<div><a href="#">ir arriba</a></div>
    <div>
        <p>© 2024 CineArchivo.</p>
        <a href="">Política de privacidad</a>
        <p> | </p>
        <a href="">Términos de uso</a>
        <p> | </p>
        <a href="contacto.html">Contacto</a>
    </div>
    <div>
        <img src="images/X_logo_2023.svg.webp" alt="twitter">
        <img src="images/facebook-social-logo.svg" alt="facebook">
        <img src="images/instagram-logo.svg" alt="instagram">
    </div>