<section id="contacto">
    <h1>Centro de soporte</h1>
    <h5>¿Algún problema? deja tu nombre, correo electrónico y un mensaje para poder ayudarte</h5>
    <form action="">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" id="nombre" placeholder="Nombre de usuario">
        <label for="email">Correo electrónico:</label>
        <input type="email" name="email" id="email" placeholder="Correo electrónico">
        <label for="mensaje">Mensaje:</label>
        <textarea class="mensaje" name="mensaje" id="mensaje" maxlength="500" placeholder="Escribe tu mensaje"></textarea>
        <input class="envio" type="submit" name="enviar" id="enviar" value="Enviar">
    </form>
</section>