<nav>
    <img src="images/logo.png" alt="CineArchivo">
    <a href="/">Inicio</a>
    <a href="">Copias</a>
    <a href="/contacto">Contacto</a>
    <a class="exit" href="/logout">Salir</a>
    <h4>Bienvenido, <%= user.name %></h4>
</nav>